.alone_border {
    border: .15em solid goldenrod;
    text-align: center;
    background-color: #232323;
}

.top_articles {
    border: .15em solid cornflowerblue;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.more {
    background-color: hsla(39, 100%, 66%, 1);
}

.search-art1 {
    margin-top: 3em;
}

.grow img{
    transition: 0.75s ease;
}

.grow img:hover{
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    transition: 1s ease;
}
.no_articles{
    text-align: center;
    padding-top: 20vw;
}


.brighten {
    -webkit-filter: brightness(100%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.brighten:hover {
    -webkit-filter: brightness(120%);
}
@media (max-width: 768px) {
    .search-art1 {
        margin-top: 1em;
    }
}

@media (min-width: 1255px) {
    img {
        width: 100%;
    }
}

@media (max-width: 1255px) {
    img {
        width: 300px;
    }
}

@media (max-width: 380px) {
    img {
        width: 200px;
    }
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete>li>div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.eac-item a {
    color: rgb(248, 200, 44);
}
