body {
    color: black;
}

.btn-connection {
    margin-top: 3%;
}

#inscription {
    text-align: center;
}

label {
    color: black;
    font-size: 2.5vh;
    margin-top: 3%;
}

.card-title {
    color: black;
    font-size: 3.5vh;
}

.link {
    color: rgb(79, 190, 228);
    font-size: 3vh;
}

.link:hover {
    color: rgb(248, 200, 44);
}

.card-signin {
    margin: auto !important;
    margin-top: 20% !important;
}

.btn-block {
    background: #17a2b8;
}