body{
    background-color: lightgray;
}
.more{
    background-color: hsla(39, 100%, 66%, 1);
}

.fadein{
    opacity:0;
    transition: 0.5s ease;
}

.fadein:hover{
    opacity:1;
    transition: 0.75s ease;
}

@media (min-width: 1255px) {
    img{
        width: 100%;
    }
}

@media (max-width: 1255px) {
    img{
        width: 300px;
    }
}
@media (max-width: 400px) {
    img{
        width: 200px;
    }
}
.event_border{
    border: .15em solid cornflowerblue;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.desc{
    text-align: center;
    border: .15em solid royalblue;
    background-color: ghostwhite;
    color: black;
    margin-top: 3em;
}
