.article{
    border: .15em solid goldenrod;
    background-color: rgb(211 211 211);
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;


}
.grow img{
    transition: 0.75s ease;
}

.grow img:hover{
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    transition: 1s ease;
}
@media (min-width: 1255px) {
    img{
        width: 300px;
    }
}

@media (max-width: 1255px) {
    img{
        width: 300px;
    }
}
@media (max-width: 400px) {
    img{
        width: 200px;
    }
}
