body {
    color: #3d3838;
}

#passwordMismatch {
    color: red;
    display: none;
    text-align: center;
}

#passwordMatch {
    color: green;
    display: none;
    text-align: center;
}

.card {
    border: 5px solid #FFFFFF;
    border-radius: 1%;
}

label {
    margin-top: 3%;
    color: #3d3838;
    font-size: 2.5vh;
}

.form {
    margin-top: 3%;
}

.card-title {
    font-size: 4vh;
}